{% extends 'base.html.twig' %}

{% block title %}{% trans %}My Feed{% endtrans %} - L33TBOARDS{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-4">
        <div class="col-8">
            <!-- Left part: FEED -->
            <!--<div class="row">
                <div class="col-lg-7 mx-auto">-->
                    <!-- Top Trend Cards -->
                    <hr data-content="TOP TRENDINGS" class="hr-text">
                    <div class="my-4">
                    {% for post in trendingPosts %}
                        <div class="card bg-dark d-inline-flex text-white trend-card mr-3">
                            <img src="https://via.placeholder.com/229x160/222222/222222/?text=1" class="card-img" alt="...">
                            <div class="card-img-overlay d-flex align-content-end flex-wrap">
                                <h5 class="card-title trend-card-title m-0">{{ post.title|length > 20 ? post.title|slice(0, 20  ) ~ '...' : post.title }}</h5>
                                <p class="card-text trend-card-subtitle m-0">{{ post.content|length > 60 ? post.content|slice(0, 60) ~ '...' : post.content }}</p>
                                <p class="card-text trend-card-text">{{ post.author.username }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    </div><br>
                    <!-- Timeline -->
                    <hr data-content="YOUR TIMELINE FEED" class="hr-text">
                    {% if app.user != null %}
                        <div class="card mb-3">
                            <div class="card-body p-2 pl-5">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="{{ asset('/img/default/user_default_24.png') }}" class="rounded-circle shadow create-post-image" alt="...">
                                    </div>
                                    <div class="col-9">
                                        <input type="text" class="form-control" placeholder="Create Post" onclick="window.location='{{ url('post') }}'">
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-outline-secondary" onclick="window.location='{{ url('post') }}'"><i class="far fa-images"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="card">
                        <div class="card-body p-2">
                            <a href="#" class="btn btn-outline-danger px-4"><i class="fa fa-fire mr-2"></i>Hot</a>
                            <a href="#" class="btn btn-outline-primary px-4"><i class="fa fa-chart-bar mr-2"></i>Top</a>
                            <a href="#" class="btn btn-outline-warning px-4"><i class="fa fa-certificate mr-2"></i>New</a>
                        </div>
                    </div>
                    <ul class="timeline">
                    {% if boards is empty %}
                        {% if app.user %}
                            </br>
                            <div class="card">
                                <div class="card-body">  <!-- SOS Frontend -->
                                    <span>{% trans %}To get started, please follow a board{% endtrans %} <a class="btn btn-primary" href="{{ url('boards') }}">{% trans %}Browse Boards{% endtrans %}</a> </span>
                                </div>
                            </div>
                        {% else %}
                            <div class="card">
                                <div class="card-body">  <!-- SOS Frontend -->
                                    <span>{% trans %}To get started, please login or register{% endtrans %}</span> 
                                    <a href="{{ url('app_login') }}" class="btn btn-outline-primary">{% trans %}Login{% endtrans %}</a>
                                    <a href="{{ url('app_register') }}" class="btn btn-primary">{% trans %}Register{% endtrans %}</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                        {% for board in boards %} <!-- ça sera à changer, pour l'instant ça va car on a que quelque posts -->
                            {% for post in board.posts %}
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                    <h2 class="post-title mb-0">
                                        <span class="mx-2">{% trans %}posted{% endtrans %} <span class="post-title-highlight">{{post.createdAt |date}}</span> {% trans %}by{% endtrans %} {{ post.author.username }}</span>
                                        <img src="{{ asset('/img/default/user_default_24.png') }}" class="rounded-circle shadow mr-2" alt="...">
                                        <span><a href="/u/{{post.author.username}}" class="text-dark">{{post.author.username}}</a></span>
                                    </h2>
                                <div class="post-content">
                                    <h2 class="h6 my-4 post-content-title">{{post.title}}</h2>
                                    <div class="text-center">
                                        {{post.content}}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        {% endfor %}
                    </ul><!-- End -->
                <!--</div>
            </div>-->
        </div>
        <div class="col-4" style="margin-top:20px">
            <!-- Right part: TOP + infos + footer -->
            {% include 'layout/footer.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}