{% extends 'base.html.twig' %}

{% block title %}Boards{% endblock %}

{% block body %}
<div class="container">


    {% for board in boards %}

        <a href="{{ url("showBoard", {'urlTitle': board.urlTitle}) }}" >
            <div class="jumbotron jumbotron-fluid ">
                <div class="container ">
                            <h1 class="display-4">  {{ board.urlTitle}} </h1>
                            <p class="lead">Dankness : {{board.score}}</p>
                            {% if app.user != null %} 
                                {% if board in app.user.followedBoards %}
                                    <a href="{{url("unFollow", {'urlTitle': board.urlTitle}) }}">
                                        <button type="button" class="btn btn-danger">unfollow</button>
                                    </a>
                                {% else %}
                                    <a href="{{url("follow", {'urlTitle': board.urlTitle}) }}">
                                        <button type="button" class="btn btn-primary">follow</button>
                                    </a>
                                {% endif %}
                            {% endif %}
                </div>
            </div>
        </a>

    {% endfor %}
        <div class="col-4" style="margin-top:20px">
            <!-- Right part: TOP + infos + footer -->
            {% include 'layout/footer.html.twig' %}
        </div>
    </div>

{% endblock %}