{% extends 'base.html.twig' %}

{% block title %}{% trans %}Boards{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8" style="margin-top:20px">
        <ul class="timeline">
            {% for board in boards %}
                <a style="color: #000000; text-decoration: none;" href="{{ url("showBoard", {'urlTitle': board.urlTitle}) }}">
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                        <h1 class="display-4"><i class="fa fa-book mr-4" style="font-size:50px;" aria-hidden="true"></i><span style="overflow-wrap:anywhere;text-overflow:ellipsis;">{{ board.urlTitle|length > 10 ? board.urlTitle|slice(0, 10) ~ '...' : board.urlTitle }}</span></h1>
                        <span>
                            <p class="lead">{% trans %}Dankness{% endtrans %} : {{board.score}}</p>
                            <!--<a href="#" class="btn btn-thumb-liked"><i class="fa fa-thumbs-up mr-1"></i></button>
                            <a href="#" class="btn btn-thumb-unliked"><i class="fa fa-thumbs-down mr-1"></i></button>-->
                            <a href="#" class="btn btn-thumb"><i class="fa fa-thumbs-up mr-1"></i></button>
                            <a href="#" class="btn btn-thumb"><i class="fa fa-thumbs-down mr-1"></i></button>
                        </span>
                        {% if app.user != null %} 
                            {% if board in app.user.followedBoards %}
                                <a href="{{url("unFollow", {'urlTitle': board.urlTitle}) }}" class="btn btn-danger">
                                    {% trans %}unfollow{% endtrans %}
                                </a>
                            {% else %}
                                <a class="btn btn-primary" href="{{url("follow", {'urlTitle': board.urlTitle}) }}">
                                    {% trans %}follow{% endtrans %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </li>
                </a>
            {% endfor %}
            </ul>
        </div>
        <div class="col-4" style="margin-top:20px">
            <!-- Right part: TOP + infos + footer -->
            {% include 'layout/footer.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}