{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
<hr data-content="CREATE POST" class="hr-text mt-5">
<div class="container card mt-4 p-4">
    {% if app.user %}
        {% if app.user.followedBoards is empty %}
            <div class="alert alert-danger">You need to follow at least one board to post! Please, <a href="{{ url('boards') }}">follow a board</a>.</div>
        {% else %}
            {{ form_start(postForm) }}
                {{  form_row(postForm.board) }}
                {{  form_row(postForm.title) }}
                {{  form_row(postForm.content) }}
                <button class="btn btn-primary mt-4" type="submit">
                    Create Post
                </button>
            {{  form_end(postForm) }}
        {% endif %}
    {% else %}
        <div class="alert alert-danger">You must be logged in to create a new post! Please, <a href="{{ url('app_login') }}">log in</a>.</div>
    {% endif %}
</div>
{% endblock %}
