{% extends 'base.html.twig' %}

{% block title %}{% trans %}Post{% endtrans %} - L33TBOARDS{% endblock %}

{% block body %}

<div class="card board-header">
    <div class="row mt-4 board-header-content">
        <div class="col-2">
            <i class="fa fa-sticky-note" style="font-size:50px;" aria-hidden="true"></i>
        </div>
        <div class="col-10">
            <h1>{{post.title}}</h2>
        </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="row mt-4">
            <ul class="timeline">
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                            <h2 class="post-title mb-0">
                                <span class="mx-2">{% trans %}posted{% endtrans %} <span class="post-title-highlight">{{post.createdAt |date}}</span> {% trans %}by{% endtrans %}</span>
                                <img src="{{ asset('/img/default/user_default_24.png') }}" class="rounded-circle shadow mr-2" alt="...">
                                <span><a href="/u/{{post.author.username}}" class="text-dark">{{post.author.username}}</a></span>
                                
                            </h2>
                        <div class="post-content">
                            
                            <div class="text-center">
                                {{post.content}}
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><i class="fa fa-thumbs-up mr-1"></i></button>
                        <button type="button" class="btn btn-primary"><i class="fa fa-thumbs-down mr-1"></i></button>
                        <span class="lead">{% trans %}Dankness{% endtrans %} : {{post.score}}</span>
                    </li>
            </ul>
        </div>
    </div>
    <hr data-content="{% trans %}COMMENTS{% endtrans %}" class="hr-text">
    <div class="row mt-4">
        <div class="row mt-4">
            <ul class="timeline">
                {% for comment in post.comments %}
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                            <span class="mx-2">{% trans %}posted{% endtrans %} 
                                <span class="post-title-highlight">{{comment.createdAt |date}}</span> {% trans %}by{% endtrans %} <a href="/u/{{comment.author.username}}" class="text-dark">{{comment.author.username}}</a>
                            </span>
                            <img src="{{ asset('/img/default/user_default_24.png') }}" class="rounded-circle shadow mr-2" alt="...">
                            </h2>
                                <div class="post-content">
                            <div class="text-center">
                                {{comment.content}}
                            </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
        <div class="col-4" style="margin-top:20px">
            <!-- Right part: TOP + infos + footer -->
            {% include 'layout/footer.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}