{% extends 'base.html.twig' %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block body %}

    <div class="card board-header">
        <div class="row mt-4 board-header-content">
            <div class="col-2">
                <img src="{{ asset('/img/default/user_default_24.png') }}" class="rounded-circle shadow mr-2 board-image" alt="..."></div>
                <div class="col-10">
                    <h1>
                        {{ user.username }}
                        {% trans %}
                        's Configuration!
                        {% endtrans %}
                    </h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <hr data-content="{% trans %}FOLLOWED BOARDS{% endtrans %}" class="hr-text">
                        <ul class="timeline">
                            {% for board in boards %}
                                <a style="color: #000000; text-decoration: none;" href="{{ url("showBoard", {'urlTitle': board.urlTitle}) }}">
                                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                        <div class="timeline-arrow"></div>
                                        <h1 class="display-4">
                                            <i class="fa fa-book" style="font-size:50px;" aria-hidden="true"></i>
                                            {{ board.urlTitle|length > 10 ? board.urlTitle|slice(0, 10  ) ~ '...' }}
                                        </h1>
                                        <span>
                                            <p class="lead">
                                                {% trans %}
                                                Dankness
                                                {% endtrans %}
                                                : 
                                                {{ board.score }}
                                            </p>
                                            <button type="button" class="btn btn-primary">
                                                <i class="fa fa-thumbs-up mr-1"></i>
                                            </button>
                                            <button type="button" class="btn btn-primary">
                                                <i class="fa fa-thumbs-down mr-1"></i>
                                            </button>
                                        </span>
                                        {% if app.user != null %}
                                            {% if board in app.user.followedBoards %}
                                                <a href="{{ url("unFollow", {'urlTitle': board.urlTitle}) }}">
                                                    <button type="button" class="btn btn-danger">
                                                        {% trans %}
                                                        unfollow
                                                        {% endtrans %}
                                                    </button>
                                                </a>
                                            {% else %}
                                                <a href="{{ url("follow", {'urlTitle': board.urlTitle}) }}">
                                                    <button type="button" class="btn btn-primary">
                                                        {% trans %}
                                                        follow
                                                        {% endtrans %}
                                                    </button>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>

                        <hr data-content="{% trans %}SETTINGS{% endtrans %}" class="hr-text"></br>
                        <div class="card">
                            <div class="card-body">
                                <!-- SOS Frontend -->
                                <span class="text-center">
                                    <p>
                                        {% trans %}
                                        Coming soon
                                        {% endtrans %}
                                    </p>
                                </span>
                            </div>
                        </div>

                        <ul class="timeline">
                            {% for comment in user.comments %}
                                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                    <div class="timeline-arrow"></div>
                                    <span class="mx-2">
                                        {% trans %}
                                        posted
                                        {% endtrans %}
                                        <span class="post-title-highlight">
                                            {{ comment.createdAt |date }}
                                        </span>
                                        {% trans %}
                                        by
                                        {% endtrans %}
                                        <a href="/u/{{ comment.author.username }}" class="text-dark">
                                            {{ comment.author.username }}
                                        </a>
                                    </span>
                                    <img src="{{ asset('/img/default/user_default_24.png') }}" class="rounded-circle shadow mr-2" alt="..."></h2>
                                    <div class="post-content">
                                        <div class="text-center">
                                            {{ comment.content }}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                <div class="col-md-4 col-none">
                <div class="card text-center card-user">
                    <div>
                        <img src="{{ asset('/img/default/user_default_24.png') }}" class="rounded-circle shadow mr-2 user-image" alt="..."></div>
                            <div>
                                {{ user.username }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
        