{% extends 'base.html.twig' %}

{% block title %}{{user.username}}{% endblock %}

{% block body %}

<div class="card board-header">
    <div class="row mt-4 board-header-content">
        <div class="col-2">
            <img src="{{ asset('/img/default/user_default_24.png') }}" class="rounded-circle shadow mr-2 board-image" alt="...">
        </div>
        <div class="col-10">
            <h1>{{user.username}}{% trans %}'s Page!{% endtrans %}</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- Timeline -->
            <hr data-content="{% trans %}USER TIMELINE FEED{% endtrans %}" class="hr-text">
            <div class="card">
                <div class="card-body p-2">
                    <a href="#" class="btn btn-outline-danger px-4"><i class="fa fa-fire mr-2"></i>{% trans %}Hot{% endtrans %}</a>
                    <a href="#" class="btn btn-outline-primary px-4"><i class="fa fa-chart-bar mr-2"></i>{% trans %}Top{% endtrans %}</a>
                    <a href="#" class="btn btn-outline-warning px-4"><i class="fa fa-certificate mr-2"></i>{% trans %}New{% endtrans %}</a>
                </div>
            </div>
            {% if user.posts is empty %}
                {% if app.user == user %}
                    <div class="card">
                        <div class="card-body p-2 text-center">
                            <img src="{{ asset('/img/schlagos.jpg') }}" class="shadow" alt="ayayou">
                            <p>{% trans %}You haven't posted anything yet, right ?{% endtrans %}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="card">
                        <div class="card-body p-2 text-center">
                            <img src="{{ asset('/img/no_meme.png') }}" class="shadow" alt="ayayou">
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <div class="row mt-4">
                <ul class="timeline">
                    {% for post in user.posts %} <!-- ça sera à changer, pour l'instant ça va car on a que quelque posts -->
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                    <h2 class="post-title mb-0">
                                        <span class="mx-2">{% trans %}posted{% endtrans %} 
                                            <span class="post-title-highlight">{{post.createdAt |date}}</span> {% trans %}by{% endtrans %} <a href="/u/{{post.author.username}}" class="text-dark">{{post.author.username}}</a>
                                            
                                        </span>
                                        <img src="{{ asset('/img/default/user_default_24.png') }}" class="rounded-circle shadow mr-2" alt="...">
                                        <span></span>
                                        <span>{% trans %}on{% endtrans %} <a href="/boards/{{post.board.urlTitle}}">{{post.board.title}} </a></span>
                                    </h2>
                                <div class="post-content">
                                    <h2 class="h6 my-4 post-content-title">{{post.title}}</h2>
                                    <div class="text-center">
                                        {{post.content}}
                                    </div>
                                </div>
                            </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-none">
            <div class="card text-center card-user">
                <div>
                    <img src="{{ asset('/img/default/user_default_24.png') }}" class="rounded-circle shadow mr-2 user-image" alt="...">
                </div>
                <div>{{user.username}}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}